[D-BUS Service]
Name=org.freedesktop.DBus.TestSuiteShellEchoServiceSuccess
Exec=/home/pi-chan/workspace/Server/libraries/dbus-1.10.10/test/test-shell-service -test "that" 'we get' back --what "we put in"
User=anyrandomuser

