[D-BUS Service]
Name=org.freedesktop.DBus.TestSuiteShellEchoServiceFail
Exec=/home/pi-chan/commonapi/dbus-1.10.10/test/test-shell-service "this should 'fail' because of an unterminated quote
